.cards-tag-words {
    margin-top: 2%;
}

.div-reset-tag-words {
    text-align: center;
    margin-bottom: 3%;
}

.tarjeta-tag-words {
    background-color: rgb(228, 226, 226);
    border-radius: 15px;
}

.titulo-nombre-card-tag-word {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nombre-card-tag-word {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}

.titulo-fecha-card-tag-word {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fecha-card-tag-word {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}

.palabra-tarjeta-etiqueta {
    position: relative;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 7rem !important;
    max-height: 7rem !important;

    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid !important;
    border-radius: 25 !important;
    font-size: 30px !important;
    font-family: 'Times New Roman', Times, serif;
    border-color: red !important;
    color: rgb(75, 70, 70) !important;
}

.palabra-tarjeta-etiqueta:hover {
    transition: 0.5s;
    border-color: blue !important;
}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .tarjeta-tag-words {
        margin-bottom: 10%;
    }

    .palabra-tarjeta-etiqueta {
        min-height: 15vh !important;
        max-height: 15vh !important;
        font-size: large !important;
        color: #000 !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .tarjeta-tag-words {
        margin-bottom: 10%;
    }

    .titulo-nombre-card-tag-word {
        max-width: fit-content;
    }
    
    .nombre-card-tag-word {
        max-width: fit-content;
    }
    
    .palabra-tarjeta-etiqueta {
        min-width: 100% !important;
        max-width: 100% !important;
        min-height: 5rem !important;
        max-height: 5rem !important;
        font-size: medium !important;
        color: #000 !important;
    }
}