.firstname-user {
    
}

.formControl {
    min-width: 100%;
}

.divFirstnameUserForm {
    margin-top: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.div-isAdmin {
    margin-top: 2%;
}

.select-isAdmin {
    width: 15em;
}

.div-isBlocked {
    margin-top: 2%;
}

.select-isBlocked {
    width: 15em;
}

.div-button-edit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.show-details-user {
    width: 95%;
    height: 8em !important;
    margin-left: 2.5%;
    border: 1px solid #202221;
    border-radius: 16px;
}

.details {
    display: flex;
    /* font-size: large; */
    margin-top: 3%;
    justify-content: space-evenly;
}

.tag-images {
    text-align: center;
}

.num-tag-images {
}

.tag-words {
    text-align: center;
}

.num-tag-words {
}

.tag-hangmans {
    text-align: center;
}

.num-tag-hangmans {
}

.tag-uniqueSelections {
    text-align: center;
}

.num-tag-uniqueSelections {
}

.images-upload {   
    text-align: center;
}

.num-images-upload {
}

.words-upload {   
    text-align: center;
}

.num-words-upload {
}

.hangmans-upload {   
    text-align: center;
}

.num-hangmans-upload {
}

.uniqueSelections-upload {   
    text-align: center;
}

.num-uniqueSelections-upload {
}

.tips-upload {   
    text-align: center;
}

.num-tips-upload {
}

.tag-tips {
    text-align: center;
}

.num-tag-tips {
}


.btnUserForm {
    background-color: yellow !important;
    height: fit-content !important;
    width: fit-content !important;
}

.containerInfoUserForm {
    display: table !important;
    justify-content: center;
    text-align: center;
}

.navAppBarUserForm {
    background-color: #1976d2 !important;
    color: #fff !important;
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .containerInfoUserForm {
        display: table !important;
        justify-content: center;
    }

    .divFirstnameUserForm {
        text-align: center;
        margin-top: 5%;
    }

    .firstnameUserForm {
        width: fit-content !important;
        margin-left: auto;
        margin-right: auto;
    }

    .div-isAdmin {
        margin-top: 5%;
        text-align: center;
    }

    .select-isAdmin {
        min-width: 8em;
        width: fit-content;
    }

    .div-isBlocked {
        margin-top: 5%;

        text-align: center;
    }

    .select-isBlocked {
        min-width: 10em;
        width: fit-content;
    }

    .div-button-edit {
        width: fit-content !important;
        height: fit-content !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .div-button-edit span {
        font-size: smaller;
    }

    .show-details-user {
        width: 100%;
        height: 115px !important;
        margin-left: 0%;
        font-size: small;
        overflow-x: scroll;
    }

    .details {
        display: inline;
    }

    .navAppBarUserForm button span {
        font-size: smaller !important;
    }
}