.div-uploadCategory-update {
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 16px;
}

.div-category-update {
    width: 100%;
}

.category-update {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.category-update .fire {
    top: 0;
    left: 0;
} 

.select-isVisible {
    width: 15em;
}

.div-isVisible {
    width: 100%;
    margin-top: 1em;
}

.div-datatable-categories div {
    max-height: 700px !important;
}

.submitButtonModal-uploadCategory {
    background-color: yellow !important;
    height: 10% !important;
    width: 25% !important;
    margin-left: 2% !important;
}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .category-update {
        left: 0%;
        margin-top: 0%;
    }

    .category-update .fire {
        left: 0 !important;
        right: 0 !important;
        top: -2vw;
    }
    
    .div-category-update {
        width: 100%;
    }

    .categoryNameUpdate {
        width: 100% !important;
    }
    
    .div-isVisible {
        width: 100%;
        margin-top: 1em;
    }
    
    .select-isVisible {
        min-width: 85%;
        max-width: 85%;
    }

    .submitButtonModal-uploadCategory {
        height: fit-content !important;
        width: fit-content !important;
        margin-left: auto !important;
        font-size: medium !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .category-update {
        left: 0%;
        margin-top: 0%;
    }

    .category-update .fire {
        left: 0 !important;
        right: 0 !important;
        top: -3vw;
    }

    .div-uploadCategory-update {
        margin-top: 0em;
        margin-bottom: 0em;
        border-radius: 13px;
    }
    
    .div-category-update {
        width: 90%;
        margin-left: 1em;
    }
    
    .categoryNameUpdate {
        width: 100% !important;
    }
    
    .div-isVisible {
        width: 100%;
        margin-top: 1em;
    }
    
    .select-isVisible {
        width: 25vw;
    }

    .titleModal-uploadCategory {
        font-size: large;
    }

    .closeButtonModal-uploadCategory {
        font-size: small;
    }

    .submitButtonModal-uploadCategory {
        height: fit-content !important;
        width: fit-content !important;
        margin-left: auto !important;
        font-size: small !important;
    }
}