.div-uploadCategory {
    position: relative;
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 16px;
}

.categoryUpload {
    position: relative;
    margin-left: -5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.div-name {
    margin-top: 1em;
    margin-left: -6em;
}

.textfield-name {
    width: 60%;
}

.submit-category {
    position: relative;
    width: fit-content !important;
    height: fit-content;
    margin-top: 10% !important;
}

.div-datatable-categories {
    text-align: center;
    width: 80%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 10%;
    background-color: white;
    border-radius: 12px;
}

.divHelpIconUploadCategory {
    margin-top: 3%;
}

.tooltipUploadCategory {
    font-size: medium;
}

@media only screen and (max-width: 1376px){
    .tip-upload {
        min-width: 200px;
        max-width: 300px;
        min-height: 150px;
        max-height: 250px;
    }

    .label-upload-tip { /* Agregar tip */
        margin-left: 100%;
    }

    .div-name {
        margin-top: 1em;
        margin-left: 5%;

    }
    
    .submit-category {
        width: 15%;
    }

    .textfield-name {
        width: 50%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .div-uploadCategory {
        width: 100% !important;
        margin-top: 2em !important;
        margin-bottom: 0em !important;
        margin-left: 0% !important;
    }
    
    .categoryUpload {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    } 
    
    .categoryUpload .fire {
        top: 0;
        left: 0;
    } 
    
    .div-name {
        margin-top: 1em;
        margin-left: 0em;
    }
    
    .textfield-name {
        width: 80%;
    }
    
    .submit-category {
        width: fit-content;
        height: fit-content !important;
        margin-top: 20% !important;
    }
    
    .div-datatable-categories {
        width: 90%;
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 5%;
        font-size: smaller;
    }

    .divHelpIconUploadCategory {
        text-align: center;
    }
    
    .tooltipUploadCategory {
        font-size: smaller;
    }
}