.cards-tag-images {
    margin-top: 2%;
}

.div-reset-tag-images {
    text-align: center;
    margin-bottom: 3%;
}

.tarjeta-tag-image {
    background-color: rgb(228, 226, 226);
    border-radius: 15px;
}

.titulo-nombre-card-tag-image {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nombre-card-tag-image {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}
/*  */
.titulo-fecha-card-tag-image {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fecha-card-tag-image {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}
/*  */
.imagen-tarjeta-etiquetada {
    position: relative;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 15rem !important;
    max-height: 15rem !important;
}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .tarjeta-tag-image {
        margin-bottom: 10%;
    }

    .imagen-tarjeta-etiquetada {
        min-height: 20vh !important;
        max-height: 20vh !important;
    }

    .btnResetTagContent {
        font-size: small !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .tarjeta-tag-image {
        margin-bottom: 10%;
    }

    .titulo-nombre-card-tag-image {
        max-width: fit-content;
    }
    
    .nombre-card-tag-image {
        max-width: fit-content;
    }
    
    .imagen-tarjeta-etiquetada {
        min-width: 100% !important;
        max-width: 100% !important;
        min-height: 10rem !important;
        max-height: 10rem !important;
    }

    .btnResetTagContent {
        width: fit-content;
        height: fit-content;
        font-size: x-small !important;
    }
}