.cards-tag-images {
    margin-top: 2%;
}

.div-reset-tag-images {
    text-align: center;
    margin-bottom: 3%;
}

.tarjeta-tag-image {
    background-color: rgb(228, 226, 226);
    border-radius: 15px;
}

.titulo-nombre-card-tag-image {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nombre-card-tag-image {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}
/*  */
.titulo-fecha-card-tag-image {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fecha-card-tag-image {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}
/*  */
.imagen-tarjeta-etiquetada {
    position: relative;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 15rem !important;
    max-height: 15rem !important;
}