.cards-tag-hangmans {
    margin-top: 2%;
}

.div-reset-tag-hangmans {
    text-align: center;
    margin-bottom: 3%;
}

.tarjeta-tag-hangman {
    background-color: rgb(228, 226, 226);
    border-radius: 15px;
}

.titulo-nombre-card-tag-hangman {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nombre-card-tag-hangman {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}
/*  */
.titulo-fecha-card-tag-hangman {
    color: white;
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fecha-card-tag-hangman {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 237, 255);
    color: rgb(21, 62, 117);
}
/*  */
.imagenes-tarjeta-etiquetada {
    position: relative;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 15rem !important;
    max-height: 15rem !important;
}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .tarjeta-tag-hangman {
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .tarjeta-tag-hangman {
        margin-bottom: 10%;
    }

    .titulo-nombre-card-tag-hangman {
        max-width: fit-content;
    }
    
    .nombre-card-tag-hangman {
        max-width: fit-content;
    }
}