.div-uploadWord-update {
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 16px;
}

.div-word-update {
    width: 10%;
}

.paper-datatableUpdate {
    position: relative !important;
    text-align: center !important;
    min-width: 120px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid !important;
    border-radius: 25 !important;
    font-size: 30px !important;
    border-color: red !important;
    color: rgb(75, 70, 70) !important;
}

.paper-update:hover {
    transition: 0.5s;
    border-color: blue !important;
}

.word-upload-update {
    min-width: 400px;
    max-width: 200px;
    min-height: 220px;
    max-height: 280px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.label-upload-word-update {
    width: 11em;
    height: 2em;
    margin-left: 270%;
    margin-bottom: 1em;
}


.div-name-update {
    margin-top: 1em;
    margin-left: 2em;
}

.nameWordUpdate {
    width: 70% !important;
}

.div-difficulty-update {
    margin-top: 2em;
    margin-left: -7.7em;
}

.div-points-update {
    margin-top: 2em;
    margin-left: 2em;
}

.submit-word-update {
    width: 20%;
}

.div-datatable-words-update {
    text-align: center;
    width: 80%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 10%;
    background-color: white;
    border-radius: 12px;
}

.word-user-update {
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 280px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.div-datatable-words div {
    max-height: 700px !important;
}

.paper-datatableUpdate {
    position: relative !important;
    text-align: center !important;
    min-width: 120px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid !important;
    border-radius: 25 !important;
    font-size: 30px !important;
    border-color: red !important;
    color: rgb(75, 70, 70) !important;
}

.paper-datatableUpdate:hover {
    transition: 0.5s;
    border-color: blue !important;
}

.submitButtonModal-uploadWord {
    background-color: yellow !important;
    height: 10% !important;
    width: 25% !important;
    margin-left: 2% !important;
}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .div-datatable-words div {
        max-height: 500px !important;
    }
    
    .div-uploadWord-update {
        margin-top: 0em;
        margin-bottom: 0em;
        border-radius: 13px;
    } 

    .paper-datatableUpdate {
        min-width: 100px;
        min-height: 100px;
        font-size: medium !important;
        color: black !important;
    }
    
    .div-name-update {
        width: 90% !important;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
    }

    .nameWordUpdate {
        width: 100% !important;
    }

    .titleModal-uploadWord {
        font-size: large;
    }

    .closeButtonModal-uploadWord {
        font-size: small;
    }

    .submitButtonModal-uploadWord {
        height: fit-content !important;
        width: fit-content !important;
        margin-left: auto !important;
        font-size: small !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .div-datatable-words div {
        max-height: 500px !important;
    }

    .word-user-update {
        min-width: 140px !important;
        max-width: 140px !important;
        min-height: 140px !important;
        max-height: 140px !important;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .palabra-update {
        min-width: 140px !important;
        max-width: 140px !important;
        min-height: 100px !important;
        max-height: 100px !important;
        display: table;
    }
    
    .div-uploadWord-update {
        margin-top: 0em;
        margin-bottom: 0em;
        border-radius: 13px;
    } 

    .paper-datatableUpdate {
        min-width: 100px;
        min-height: 100px;
        font-size: medium !important;
        color: black !important;
    }
    
    .div-name-update {
        width: 90% !important;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
    }

    .nameWordUpdate {
        width: 100% !important;
    }

    .titleModal-uploadWord {
        font-size: large;
    }

    .closeButtonModal-uploadWord {
        font-size: small;
    }

    .submitButtonModal-uploadWord {
        height: fit-content !important;
        width: fit-content !important;
        margin-left: auto !important;
        font-size: small !important;
    }
}