.div-uploadTip {
    position: relative;
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 16px;
}

.div-tip {
    position: relative;
    width: 10%;
}

.tip {
    position: relative;
    margin-left: 0.5em;
    margin-top: 5%;
    margin-bottom: 3%;
}

.paper-tip {
    position: relative !important;
    text-align: left !important;
    max-width: 85%;
    margin-top: 10%;
    overflow-wrap: break-word;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid !important;
    border-radius: 25 !important;
    font-size: larger !important;
    border-color: #5bc0de !important;
    color: rgb(75, 70, 70) !important;
}

.paper-tip:hover {
    transition: 0.5s;
    border-color: blue !important;
}

.tip-upload {
    position: relative;
    min-width: 200px;
    max-width: 400px;
    min-height: 220px;
    max-height: 280px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.label-upload-tip {
    width: 11em;
    height: 2em;
    margin-left: 270%;
    margin-bottom: 1em;
}


.div-text {
    margin-top: 1em;
    margin-left: -6em;
}

.textfield-text {
    width: 70%;
}

.submit-tip {
    width: 20%;
}

.div-datatable-tips {
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 12px;
}

.tooltipUploadTip {
    font-size: medium;
}

@media only screen and (max-width: 1376px){
    .div-uploadTip {
        width: 85% !important;
        margin-left: 7.5% !important ;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .div-tip {
        width: 15%;
        height: 100%;
        margin-left: 25%;
    }

    .tip {
        position: relative;
        margin-left: 15%;
        margin-top: 10%;
        margin-bottom: 5% !important;
    }
    
    .paper {
        min-width: 300px;
        min-height: 150px;
        border-radius: 25 !important;
        font-size: 35px !important;
    }

    .tip-upload {
        min-width: 200px;
        max-width: 300px;
        min-height: 150px;
        max-height: 250px;
    }

    .label-upload-tip { /* Agregar tip */
        margin-left: 100%;
    }

    .div-text {
        margin-top: 1em;
        margin-left: 15%;

    }
    
    .submit-tip {
        width: 15%;
    }

    .textfield-text {
        width: 90%;
    }
}
