body {
    background-color: #f9f9fa;

}

#page-content {
    width: 100%;
    background-color: azure;
}

.padding {
    padding: 7rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    min-height: 100% !important;
}

.bg-c-lite-green {
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem;
    text-align: center;
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    min-width: 300px;
    max-width: 300px;
    min-height: 180px;
    max-height: 180px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.iconoEditar {
    margin-left: 0em;
    padding-bottom: 0.5em;
    width: 30px;
    height: 30px;
    color: #fff !important;
}

.profile-edit-btn{
    border: 0;
    border-radius: 0.7rem;
    width: 40%;
    padding: 1.5%;
    font-weight: 400;
    background-color: #378b29;
    color: #fff;
    cursor: pointer;
    outline: none !important;
}

.disableBtn {
    border: 0;
    border-radius: 0.7rem;
    width: 40%;
    padding: 1.5%;
    font-weight: 400;
    background-color: grey;
    color: #fff;
    cursor: auto;
    text-decoration: line-through;
    outline: none !important;
}

.profile-edit-btn:hover {
    transition: all 0.1s;
    background-color: #599b4d;
}

.profile-edit-btn:active {
    transform: scale(0.9);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    transform: translateX(4px); 
}

.user-badge {
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    background-color: #fff !important;
    padding: 0em !important;
    padding-left: 0em !important;
    padding-right: 0em !important;
    border-radius: 0em !important;
}

.badge-pill {
    padding-right: .0em !important;
    padding-left: .0em !important;
    border-radius: 0rem !important;
}

:root {
    --gold-medal: #f9ad0e;
    --silver-medal: #d1d7da;
    --bronze-medal: #df7e08;
    --neutral-medal: #d1d7da;
}

.quiz-medal {
    margin: 0px 0px 0px 0px;
}

.quiz-medal {
  position: relative;
  margin-bottom: 16px;
}

.quiz-medal__circle {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 500;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  color: white;
  text-align: center;
  line-height: 46px;
  vertical-align: middle;
  position: relative;
  border-width: 0.2em;
  border-style: solid;
  z-index: 1;

  /* Default colors */
  /* box-shadow: inset 0 0 0 darken(var(--neutral-medal), 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: lighten(adjust-hue(var(--neutral-medal), 10), 10%);
  text-shadow: 2px 2px 0 darken(var(--neutral-medal), 20%);
  background: linear-gradient(to bottom right, var(--neutral-medal) 50%, darken(var(--neutral-medal), 5%) 50%); */
}

.quiz-medal__circle--bronze {
    box-shadow: var(--bronze-medal);
    border-color: var(--bronze-medal);
    text-shadow: white;
    background: var(--bronze-medal);
    box-sizing: inherit;
}

.quiz-medal__circle--silver {
    box-shadow: inset 0 0 0 darken(var(--silver-medal), 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-color: lighten(adjust-hue(var(--silver-medal), 10), 10%);
    text-shadow: 0px 0px 4px darken(var(--silver-medal), 20%);
    background: linear-gradient(to bottom right, var(--silver-medal) 50%, darken(var(--silver-medal), 5%) 50%);
}

.quiz-medal__circle--gold {
    box-shadow: inset 0 0 0 darken(var(--gold-medal), 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-color: var(--gold-medal);;
    text-shadow: 0 0 4px darken(var(--gold-medal), 20%);
    background: linear-gradient(to bottom right, var(--gold-medal) 50%, darken(var(--gold-medal), 5%) 50%);
  }

.quiz-medal__ribbon {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 6px 10px;
  width: 0;
  height: 20px;
  top: 50px;
}

.quiz-medal__ribbon--left {
  border-color: #FC402D #FC402D transparent #FC402D;
  left: 8px;
  transform: rotate(20deg) translateZ(-32px);
}

.quiz-medal__ribbon--right {
  left: 28px;
  border-color: #FC402D #FC402D transparent #FC402D;
  transform: rotate(-20deg) translateZ(-48px);
}

@media only screen and (max-width: 1376px){
    .user-card-full .user-profile {
        height: 83vh;
    }

    .img-radius {
        min-width: 230px;
        max-width: 230px;
        min-height: 150px;
        max-height: 150px;
    }

    .iconoEditar {
        margin-left: 0.5em;
        width: 25px;
        height: 25px;
    }

    .profile-edit-btn{
        width: 60%;
        padding: 2%;
        font-weight: 500;
    }

    h6 {
        font-size: 12px
    }
    p {
            font-size: 12px
    }
}