body {
    background-color: #f9f9fa;

}

#page-content {
    width: 100%;
    background-color: azure;
}

.padding {
    padding: 7rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    height: 60vh;
}

.bg-c-lite-green {
    /* background: -webkit-gradient(linear, left top, right top, from(#087ee1), to(#05e8ba));
    background: linear-gradient(to right, #05e8ba, #087ee1) */
    background-color: #05e8ba;
background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
/* background-color: #378b29;
background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%); */

}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    min-width: 300px;
    max-width: 300px;
    min-height: 180px;
    max-height: 180px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.iconoEditar {
    margin-left: 0em;
    padding-bottom: 0.5em;
    width: 30px;
    height: 30px;
    color: #fff !important;
}

.profile-edit-btn{
    border: 0;
    border-radius: 0.7rem;
    width: 40%;
    padding: 1.5%;
    font-weight: 400;
    background-color: #378b29;
    color: #fff;
    cursor: pointer;
    outline: none !important;
}

.profile-edit-btn:hover {
    transition: all 0.1s;
    background-color: #599b4d;
}

.profile-edit-btn:active {
    transform: scale(0.9);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    transform: translateX(4px); 
}

@media only screen and (max-width: 1376px){
    .user-card-full .user-profile {
        height: 83vh;
    }

    .img-radius {
        min-width: 230px;
        max-width: 230px;
        min-height: 150px;
        max-height: 150px;
    }

    .iconoEditar {
        margin-left: 0.5em;
        width: 25px;
        height: 25px;
    }

    .profile-edit-btn{
        width: 60%;
        padding: 2%;
        font-weight: 500;
    }

    h6 {
        font-size: 12px
    }
    p {
            font-size: 12px
    }
}