.div-uploadUniqueSelection-update {
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 16px;
}

#fileUpdateUniqueSelection[type="file"] {
	display: none;
}

.images-uniqueSelection {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.label-holderDatatableModifyUniqueSelection {
	width: 100%;
	height: 50px;
    margin-top: 3em;
    display: grid;
    place-items: center;
  
}
.labelDatatableModifyUniqueSelection{
    height: 50px;
    width: auto;
    padding: 10px;
    background-color:greenyellow;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2.5rem ;
    cursor: pointer;
}

.labelDatatableModifyUniqueSelection:hover {
    transition: 0.1s ;
    border: 2px solid #4CAF50;
}

.imagesSelectedModifyUniqueSelection {
    width: 25%;
    height: 200px;
    object-fit: inherit;
    padding: 0.75rem;
}

.submitButtonModal-uploadUniqueSelection {
    background-color: yellow !important;
    height: 10% !important;
    width: 25% !important;
    margin-left: 2% !important;
}

.buttonResetImagesModifyUniqueSelection {
    margin-left: 10px !important;
    height: 50px;
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .images-uniqueSelection {
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .div-uploadUniqueSelection-update {
        margin-top: 0em;
        margin-bottom: 0em;
        border-radius: 13px;
    }

    .label-holderDatatableModifyUniqueSelection {
        width: 100% !important;
        display: inline;
        margin-top: 1em !important;
        font-size: small !important;

    }
    .labelDatatableModifyUniqueSelection {
        width: fit-content !important;
        height: fit-content !important;
    }

    .labelDatatableModifyUniqueSelection i {
        font-size: small;
    }

    .buttonResetImagesModifyUniqueSelection {
        width: fit-content !important;
        height: fit-content !important;
        font-size: smaller !important;
        font-weight: 700 !important;
    }

    .buttonsModifyUniqueSelection {
        display: inline-table;
    }
    
    .imagesSelectedModifyUniqueSelection {
        width: 50% !important;
        height: 170px !important;
        padding: 0.2rem !important;
    }

    .titleModal-uploadUniqueSelection {
        font-size: large;
    }

    .closeButtonModal-uploadUniqueSelection {
        font-size: small;
    }

    .submitButtonModal-uploadUniqueSelection {
        height: fit-content !important;
        width: fit-content !important;
        margin-left: auto !important;
        font-size: small !important;
    }
}