.main-login-resetpass {
    min-height: 100vh;
}

.divlogin-resetpass {
    background-image: url(../../../assets/img/login-background.jpg) ;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: right;
    height: 100vh;
}

.div-contenedor-resetpass {
    /* margin-bottom: 10% !important; */
    min-height: 100vh;
}

.div-divsito-resetpass {
    position: relative;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    margin: auto;
    margin-top: 2em;
    background: rgba(234, 238, 234, 0.95);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 55px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    /* min-height: 100% !important; */
}

.avatar-title-resetpass {
    display: inline-flex !important;
    justify-content: center;
}


.avatar-resetpass {
    margin-top: 5%;
    background-color: red !important;
}

.loadingPage-resetpass {
    display: flex;
    text-align: center;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.errorMessage-resetpass {
    max-width: 600px;
    margin-top: 0%;
    margin-bottom: 2% !important;
    background-color: rgb(170, 0, 0);
    color: white;
}

.inputs-resetpass {
    background-color: #fff;
    align-items: center;
}
  

.form-resetpass {

}

.loadingLogin-resetpass {
    width: 5px;
    height: 5px;
}

.img-login-resetpass {
    width: 30%;
    height: 30%;
}

/* 1376x768 */
@media only screen and (min-width: 1377px){
    .divlogin-resetpass {
        height: 100% !important;
    }

    .img-login-resetpass {
        width: 40%;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .div-divsito-resetpass {
        width: 70%;
        top: 17%;
        text-align: center;
    }

    .form-resetpass {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo-login-resetpass {
        margin-top: 10%;
        font-size: 1.2em;
        margin-left: 2em;
    }

    .avatar-title-resetpass {
        display: inline-flex !important;
    }
}

@media only screen and (max-width: 1376px) {
    .img-login-resetpass {
        width: 40%;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .div-divsito-resetpass {
        text-align: center;
    }

    .titulo-login-resetpass {
        margin-top: 10%;
        font-size: 1.2em;
        margin-left: 2em;
    }

    .avatar-title-resetpass {
        display: inline-flex !important;
    }

    .avatar-resetpass {
        display: inline-flex;
    }
}

@media only screen and (max-width: 1279px) {
    
    .div-divsito-resetpass {
        text-align: center;
    }

    .titulo-login-resetpass {
        margin-top: 10%;
        font-size: 1.2em;
        margin-left: 2em;
    }

    .avatar-resetpass {
        background-color: none;
    }

    .avatar-title-resetpass {
        display: inline-flex !important;
    }
}

@media only screen and (max-width: 1200px) {
    .div-contenedor-resetpass {
        max-width: 1140px !important;
    }
}

@media only screen and (max-height: 770px){
    .div-divsito-resetpass {
        width: 50%;
    }

    .divlogin-resetpass {
        /* height: 110vh !important; */
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .main-login-resetpass {
        min-height: 100vh;
    }
    
    .divlogin-resetpass {
        height: 100vh;
    }
    
    .div-contenedor-resetpass {
        min-height: 100%;
    }
    
    .div-divsito-resetpass {
        width: 90%;
        margin: auto;
        margin-top: 15%;
        padding: 15px 25px 35px 25px;
        border-radius: 10px;
    }
    
    .avatar-title-resetpass {
    }
    
    .avatar-resetpass {
        margin-top: 7%;
    }
    
    .loadingPage-resetpass {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    }
    
    .errorMessage-resetpass {
        max-width: 400px;
        margin-top: 0%;
        margin-bottom: 1% !important;
    }
    
    .inputs-resetpass {
    }
      
    .form-resetpass {
    }
    
    .loadingLogin-resetpass {
        width: 5px;
        height: 5px;
    }
    
    .img-login-resetpass {
        width: 50%;
        height: 50%;
    }
}