.div-uploadUser-update {
    text-align: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 5%;
    background-color: white;
    border-radius: 16px;
}

.div-user-update {
    width: 10%;
}

.paper-update {
    position: relative !important;
    text-align: center !important;
    min-width: 120px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid !important;
    border-radius: 25 !important;
    font-size: 30px !important;
    font-family: 'Times New Roman', Times, serif;
    border-color: red !important;
    color: rgb(75, 70, 70) !important;
}

.paper-update:hover {
    transition: 0.5s;
    border-color: blue !important;
}

.user-upload-update {
    min-width: 400px;
    max-width: 200px;
    min-height: 220px;
    max-height: 280px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.label-upload-user-update {
    width: 11em;
    height: 2em;
    margin-left: 270%;
    margin-bottom: 1em;
}


.div-name-update {
    margin-top: 1em;
    margin-left: 2em;
}

.div-difficulty-update {
    margin-top: 2em;
    margin-left: -7.7em;
}

.div-points-update {
    margin-top: 2em;
    margin-left: 2em;
}

.submit-user-update {
    width: 20%;
}

.div-datatable-words-update {
    text-align: center;
    width: 80%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 10%;
    background-color: white;
    border-radius: 12px;
}

.user-user-update {
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 280px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.email-user {
    display: inline-flex !important;
    -webkit-box-align: center;
    align-items: center;
    min-height: 2rem;
    max-width: 100%;
    border-radius: 0.25rem;
    font-weight: 500;
    min-width: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgb(206, 237, 255) !important;
    color: rgb(21, 62, 117) !important;
}

.modal-user{
    overflow: scroll;
    position: absolute;
    height: 100%;
    display: block;
}
