.image-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: black;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.image-backdrop:hover {
    position: absolute; 
    opacity: 1;
    background-color: transparent !important;
}

.image-backdrop-disable {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    background-color: black;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

/* .makeStyles-imageSrc-10 {
    background-size: contain !important;
    min-width: 100% !important;
    background-repeat: no-repeat;
} */
