.image-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: black;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.objectiveTextGames {
    font-size: 1.5em;
}

.image-backdrop:hover {
    position: absolute; 
    opacity: 1;
    background-color: transparent !important;
}

.image-backdrop-disable {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    background-color: black;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.games-title{ 
    color: #111;
    font-size: 44px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}

.author {
    color: #111;
    display: block;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.author:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 60%;
    margin-left: 20%;
    z-index: -1;
}

.author span {
    background: #fdfdfd;
    padding: 0 10px;
    text-transform: uppercase;
}

.lockGame {
    padding: 10px;
    background-color: gray !important;
    color: white;
    border-radius: 20px !important;
    position: relative;
    pointer-events: none !important;
}
  
.lockGame:before {
    content: "\1F512";
    transform: scale(2);
    display: block;
    position: absolute;
    top: 0px;
    left: 80%;
    width: 50px !important;
    height: 47px !important;
    border-radius: 35px 35px 0 0;
}

.juegitos .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.juegitos:hover .tiptext {
    visibility: visible;
}

.text-games {
    text-align: center;
    font-size: larger;
    position: relative;
}

.tablita {
    width: 90%;
    text-align: center;
    border: 0px solid black!important;
}

.tablita tr, .tablita td, .tablita th {border: 0!important;}
.tablita tr td:nth-child(2), 
.tablita tr th:nth-child(2) {border-left: 0px solid black!important;}

.buttonOpenGame {
    cursor: pointer;
}

.buttonOpenGame:hover {
    color: #D40;
    transition: 0.2s;
    transform: scale(1.1);
}

.arrowItem {
    width: 100px;
    height: 60px;
    margin: 10px;
    position: relative;
  }
  
  .buttonArrow {
    border: 1px solid white;
    background: white;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    color: #319795;
    pointer-events: none;
    transition: background 0.5s ease;
  }
  
  .buttonArrow svg {
    color: #319795;
    font-size: 70px;
    margin-left: 10px;
  }
  
  .arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
  }

  @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }

@media only screen and (max-width: 1376px){
    .games-title{
        font-size: 31px;
        margin-bottom: 0%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .text-games {
        font-size: medium;
    }

    .tablita {
        display: inline-grid;
        width: 100%;
        text-align: justify;
        font-size: small;
    }

    .arrowItem {
        width: 10% !important;
        height: 35px;
        margin-bottom: 5%;
      }
      
      .buttonArrow {
        width: 50% !important;
        padding: 0px;
        border-radius: 3px;
      }
      
      .buttonArrow svg {
        font-size: 50px;
        margin-left: 0px;
      }
      
      .arrow1 {
        animation: slide1 1s ease-in-out infinite;
        margin-left: 9px;
      }

      .objectiveTextGames {
          font-size: 1em;
      }

      .imageSelectGame {
          font-size: 45px !important;
      }
}