.div-datatable-users {
    text-align: center;
    width: 80%;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 10%;
    background-color: white;
    border-radius: 12px;
}

.pagination-users{
    display: flex;
    align-items: center;
    justify-content: center;
}