.slides-carousel {
    width: 100%;
    height: 750px;
    z-index: -1;
}

.card-first {
    margin-top: 2.5em;
    width: 18rem;
    text-align: center;
    margin-left: 100px;
}

.card-header {
    font-size: x-large;
}

.card-title {
    color: black;
    font-weight: 900;
    font-size: large;
}

.card-text {
    font-size: medium;
}

.texto-tarjeta-home {
    text-align: justify;
}

.carousel-title {
    margin-top: 10% !important;
    z-index: 99999;
    font-size: x-large;
    font-weight: 800;
}

.carousel-subtitle {
    z-index: 99999;
    font-size: large;
    font-weight: 600;
}

.carousel-caption1 {
    bottom: 45% !important;
    width: fit-content;
    left: 55% !important;
}

.carousel-caption2 {
    bottom: 40% !important;
}

.carousel-caption3 {
    width: fit-content;
    bottom: 40% !important;
    left: 10% !important;
}

.card-other {
    margin-top: 2.5em;
    width: 18rem;
    text-align: center;
    margin-left: 2.5em;
}

.card-icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.párrafo-ligas{
    text-align: center;
    height: 100%;
}

.section-title{
    position: relative;
    font-size: xx-large;
    font-weight: 700;
    text-transform: uppercase;
    top: 2% !important;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.about-home-title {
    font-size: xx-large;
    font-weight: 700;
    text-transform: uppercase;
}

h2.section-title::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 5%;
    bottom: 0;
    left: 40%;
    background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
    border-radius: 0 100% 100% 0; 
}

.parrafo-home {
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    text-align: left;
}

/* li {
    font-size: 1em;
    display: list-item;
} */

.ul-home {
    padding-left: 1em;
    list-style-type: none;
}
.li-home {
    padding-left: 6em;
    display: grid;
    grid-template-columns: 20px auto;
    justify-content: start;
    align-items: center;
    font-size: large;
}

.li-home::before {
    content: '▶';
}

.li-home span {
    display:block;
    margin-left:0.5em;
    color:#000; /* black text */
}

.reward-modal {
    background-color: #e2ddd8;
    padding: 0.125em;
    font-size: 4em;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-10deg);
    position: fixed;
    top: 40%;
    left: -5%;
    right: -5%;
    z-index: 100;
    margin-top: 0;
}

.profileImageCard {
    width: 50% !important;
    height: 25% !important;
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;
}

.rankImageCard {
    width: 50% !important;
    height: 25% !important;
    transform: scale(1.3);
    background-color: transparent !important;
    margin-left: 35%;
}

.gamesImageCard {
    width: 50% !important;
    height: 25% !important;
    background-color: transparent !important;
    transform: scale(1.4);
    margin-left: auto;
    margin-right: auto;
}

.contentImageCard {
    width: 50% !important;
    height: 25% !important;
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;
}

.aboutImageCard {
    width: 50% !important;
    height: 25% !important;
    transform: scale(1.15);
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;
}

.helpImageCard {
    width: 50% !important;
    height: 25% !important;
    transform: scale(1.6);
    background-color: transparent !important;
    margin-left: 30%;
}

.buyImageCard {
    width: 80% !important;
    height: 25% !important;
    transform: scale(1.4);
    background-color: transparent !important;
    margin-left: 15%;
}

.contactUsHome {
    width: 100%;
    height: 70%;
    margin-left: 5%;
}

.home-title{ 
    color: #111;
    font-size: 44px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}


@media only screen and (max-width: 1376px){
    .slides-carousel {
        width: 100%;
        height: 550px;
    }

    .carousel-title {
        font-size: larger;
    }

    .carousel-subtitle {
        font-size: medium;
    }

    .card-icons {
        width: 36px;
        height: 36px;
    }

    .card-header {
        font-size: larger;
    }

    .card-title {
        font-size: large;
    }

    .card-text {
        font-size: medium;
    }

    .card-first {
        margin-top: 2.5em;
        width: 14rem;
        text-align: center;
        margin-left: 40px;
    }
    
    .card-other {
        margin-top: 2.5em;
        width: 14rem;
        text-align: center;
        margin-left: 2.5em;
    }

    .section-title {
        font-size: x-large;
    }

    .about-home-title {
        font-size: x-large;
    }

    .home-title{
        font-size: 31px;
        margin-bottom: 0%;
    }
}