.update-btn{
    border: none;
    border-radius: 0.5rem;
    width: 60%;
    padding: 1.2%;
    font-weight: 400;
    color: #fff;
    background-color: green;
    cursor: pointer;
    outline: none !important;
}

.update-btn:hover {
    transition: all 0.1s;
    background-color: #599b4d;
}

.update-btn:active {
    transform: scale(0.9);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    transform: translateX(4px); 
}

.update-icon {
    margin-left: -0.5em;
    padding-bottom: 0.5em;
    width: 30px;
    height: 30px;
    color: rgb(235, 232, 232)!important;
}

.firstname-input {
    height: 3.2em;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.lastname-input {
    background-color: white;
    height: 3.2em;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.age-input {
    max-width: 30%;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.nickname-input {
    min-width: 150px !important;
}

.frame-input {
    min-width: 140px !important;
}

.gender-input {
    min-width: 130px;
}

.city-input {
    min-width: 160px !important;
    margin-top: 1em !important;
}

.phone-input {
    max-width: 40%;
    margin-top: 1em !important;
}

.image_user {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    min-height: 170px;
}

.div-imageUser-editProfile {
    width: 20%;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1376px){
    .user-card-full .user-profile {
        min-height: 100% !important;
    }

    .update-icon {
        margin-left: 0em;
        padding-bottom: 0.5em;
        width: 25px;
        height: 25px;
    }

    .update-btn{
        border-radius: 1rem;
        width: 70%;
        padding: 2%;
        font-weight: 300;
    }

    .phone-input {
        max-width: 50%;
    }

    .age-input {
        min-width: 40%;
    }
    
    .gender-input {
        min-width: 150px;
    }

    .image_user {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        min-height: 150px;
    }

    .div-imageUser-editProfile {
        width: 35%;
        min-height: 10% !important;
        max-height: 10% !important;
    }
}