.emailContact {
    left: 50%;
    position: relative;
}

.subjectContact {
    left: 50%;
    position: relative;
}

.messageContact {
    margin-left: 50%;
    position: relative;
    min-width: 100%;
}

.buttonContact {
    position: relative;
    margin-left: 50%;
}

.formularioContacto {

}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .emailContact {
        left: 5%;
        width: 90% !important;
    }
    
    .emailContact label {
        font-size: small;
    }

    .subjectContact {
        left: 5%;
        width: 90% !important;
    }

    .subjectContact label {
        font-size: small !important;
    }
    
    .messageContact {
        left: 0;
        margin-left: 5% !important;
    }

    .messageContact textarea {
        width: 80% !important;
        font-size: smaller;
        text-align: left;
    }
    
    .buttonContact {
        margin-left: 0% !important;
    }

    .formularioContacto {
        position: relative !important;
        margin-bottom: 25%;
    }
}