.emailContact {
    width: 25vw !important;
    position: relative;
}

.subjectContact {
    width: 25vw !important;
    position: relative;
}

.divGeneralMessageContact {
    text-align: -webkit-center;
}

.messageContact {
    width: 25vw !important;
}

.messageContact .form-control {
    display: initial !important;
}

.divGeneralButtonContact {
    text-align: -webkit-center;
}

.buttonContact {
    position: relative;
    width: 100% !important;
}

.formularioContacto {

}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .emailContact {
        left: 0% !important;
        width: fit-content !important;
    }
    
    .emailContact label {
        font-size: 1.2vw;
    }

    .subjectContact {
        left: 0% !important;
        width: fit-content !important;
    }

    .subjectContact label {
        font-size: 1.2vw !important;
    }

    .messageContact {
        margin-left: 0%;
    }
    
    .messageContact .form-control {
        display: initial;
    }

    .messageContact textarea {
        width: fit-content !important;
        font-size: 1.2vw;
        text-align: left;
    }
    
    .buttonContact {
        margin-right: 0% !important;
        margin-left: 0% !important;
    }

    .formularioContacto {
        position: relative !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .emailContact {
        left: 5%;
        width: 90% !important;
    }
    
    .emailContact label {
        font-size: small;
    }

    .subjectContact {
        left: 5%;
        width: 90% !important;
        overflow: auto;
    }

    .subjectContact label {
        font-size: smaller !important;
    }
    
    .messageContact {
        left: 0;
        margin-left: 0% !important;
    }

    .messageContact .form-control{
        display: initial;
    }

    .messageContact textarea {
        width: 30vw !important;
        font-size: smaller;
        text-align: left;
    }
    
    .buttonContact {
        width: 100%;
    }

    .formularioContacto {
        position: relative !important;
        margin-bottom: 25%;
    }
}