@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}

.alerta {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-family: var(--headingFont);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
  }
  @media (min-width:768px) {
    .alerta {
        width: auto;
        top: 30px;
        right: auto;
        left: 10px;
    }
  }
  
.alerta-ok {
    background-color: rgb(109, 211, 109);
    color: rgb(255, 255, 255);
  }
.alerta-error {
    background-color: rgb(230, 78, 78);
    color: rgb(255, 255, 255);
  }

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms;
}