.title-div {
    position: relative;
    text-align: center;
    width: 80%;
    height: 10em;
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: 10%;
    background-color: #546356;
    border: 1px solid #202221;
    border-radius: 16px;
    box-shadow: 1.5px 1.5px 3px #222222;

}

.title-settings {
    color: rgb(255, 255, 255);
    position: relative;
    line-height: 165px;
    font-size: 2.7em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    z-index: 1;
}

.nav-settings {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 30%;
}

.nav-settings > button:disabled {
    background-color: black !important;
    border-radius: 5px;
    color: white !important;
}

.bottomDisabled {
    background-color: green;
    color: blue;
}

.settings-title{ 
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}

.date-settings {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 3%;
}

.date-settings:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 60%;
    margin-left: 20%;
    z-index: -1;
}

.date-settings span {
    background: #fdfdfd;
    padding: 0 10px;
    text-transform: uppercase;
}

@media only screen and (min-width: 769px) and (max-width: 1376px){
    .title-div {
        width: 70%;
        height: 15vh;
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 15%;
        border: 1px solid #202221;
        border-radius: 16px;
        box-shadow: 1.5px 1.5px 3px #222222;
    
    }

    .title-settings {
        line-height: 0px;
        font-size: 2.0em;
        
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }

    .settings-title{ 
        font-size: 31px;
    }

    .availableContentText {
        font-size: medium !important;

    }

    .buttonsNavigation span span {
        font-size: 1.15vw !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .nav-settings {
        margin-top: none;
        margin-bottom: none;
        margin-left: none;
        margin-right: none;
        align-items: none;
        width: 100%;
    }

    .buttonsNavigation {
        display: grid;
        width: 100%;
        overflow-y: auto !important;
    }

    .availableContentText {
        font-size: smaller;
    }

    .buttonsNavigation span span {
        font-size: 1.7vw !important;
    }
}